
<%- include('partials/header') %>
<main class="content">
  <h1>Something went wrong</h1>
  <p><%= message %></p>
  <% if (stack) { %>
    <details>
      <summary>Technical details</summary>
      <pre><%= stack %></pre>
    </details>
  <% } %>
  <p><a class="btn" href="/">Return Home</a></p>
</main>
<%- include('partials/footer') %>
