<%- include('partials/header', { siteTitle: "Favorite Philosopher Form" }) %>

<h1>Who is your favorite philosopher?</h1>
<form action="/form" method="POST">
  <input type="text" name="philosopher" placeholder="Enter a name" required>
  <button type="submit">Submit</button>
</form>

<%- include('partials/footer') %>