<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body style="font-family: sans-serif; text-align:center;">
  <h1>Nice choice!</h1>
  <p>Your favorite philosopher is: <strong><%= philosopher %></strong></p>
  <a href="/">Go Back</a>
</body>
</html>