<%- include('partials/header', { siteTitle: "Favorite Philosopher" }) %>

<h1>Nice choice!</h1>
<p>Your favorite philosopher is: <strong><%= name %></strong></p>
<p><a href="/">Go Back</a></p>

<%- include('partials/footer') %>